body {
	font-family: sans-serif;
}

.header {
	background: radial-gradient( circle, #355936, #4c7b4e);
}
.container {
	max-width: 980px;
	margin: 0 auto;
}

.menu {
	text-align: justify;

}

.menu::after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size:0;
    line-height:0;
}

.logo {
	display: inline-block;
	padding-top: 40px;
    padding-bottom: 40px;
}

.logo-icon {
		
	
}

.navigation-container {
	display: inline-block;
	text-align: right;
}
.navigation {
	text-align: right;
}

.nav-list {
	display: inline-block;
}

.main-menu-item {
	vertical-align: middle;
	line-height: 140px;
	color: white;
	display: inline-block;
	padding-left:  14px;
	text-decoration: none;	
}

.logo-type {
	font-family: sans-serif;
	    padding-left: 10px;
    font-size: 44px;
    line-height: 40px;
    vertical-align: inherit;
    font-family: sans-serif;
    color: white;

}
